{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-gray-600 text-white">
        <div class="flex justify-between items-center p-4">
            <div>
                <a href="/" class="p-2 m-2 hover:text-gray-400">Home</a>
            </div>
            <div>
                <a href="/" class="p-2 m-2 hover:text-gray-400">Login</a>
                <a href="/" class="p-2 m-2 hover:text-gray-400">Register</a>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}
</body>
</html>